@{
    ViewBag.Title = "Page 2";
}

<h2>Page 2</h2>

<p>Sending data from the client (browser) to the server.</p>

<form method="get">
    <input type="text" name="itemA" value="Your name?" />
    <input type="submit" name="submit" value="Submit" />
</form>