
@{
    ViewBag.Title = "Page 4";
}

<h2>Page4</h2>


<p>Let's send form data to the server via POST</p>

<form method="post">
    <label for="username">Username</label>
    <input type="text" name="username" value="" />
    <label for="password">Password</label>
    <input type="password" name="password" maxlength="100" />
    <input type="submit" value="Login" />
</form>
 
<p>@ViewBag.message</p>